@use "../../App.scss" as l;

.acount-inner {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  background: rgba(0, 0, 0, 0.75);

  .acount-wrap {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: l.$grey2;
    border-radius: 8px;
  }

  .acount-content {
    width: 952px;
    height: 652px;
    display: flex;
    flex-direction: column;

    /* 가로 방향 중앙 정렬 */
    .acount-header {
      position: relative;
      width: 100%;
      margin-bottom: 32px;

      h1 {
        @include l.myTitle20(200);
        color: l.$grey10;
      }

      .account-close {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        color: #aaa;
        font-size: 20px;
        cursor: pointer;

        img {
          width: 24px;
          height: 24px;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .signup-form-wrap {
        margin-bottom: 16px;
      }

      p {
        @include l.myTitle16(100);
        text-align: left;
        width: 358px;
        margin-bottom: 8px;
      }

      input {
        width: 35.8rem;
        padding: 12px 24px;
        border-radius: 4px;
        outline: none;
      }
    }
  }

  .btn-wrap {
    width: 40.6rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .btn {
      @include l.myTitle16();
      padding: 12px 24px;
      transition: background-color 0.2s ease, color 0.2s ease;
    }

    .del {
      background: none;
      border: 1px solid l.$grey7;
      color: l.$grey7;
      border-radius: 4px;

      &:hover {
        background-color: l.$grey8;
        color: l.$grey1;
      }
    }

    .submit {
      background: l.$sub1;
      color: l.$grey10;
      border: none;
      border-radius: 4px;

      &:hover {
        background: l.$main1;
      }
    }
  }
}
