@use "../../App.scss" as l;
.avatar-dim {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 */
  background: rgba(0, 0, 0, 0.75);
}

.avatar-modal {
  width: 1000px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: l.$grey2;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  overflow: hidden; // 이중 스크롤 방지
}

.avatar-wrap {
  width: 952px;
  height: 652px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .avatar-header {
    position: relative;

    h1 {
      @include l.myTitle20();
      color: l.$grey10;
      margin-bottom: 32px;
    }

    .close {
      position: absolute;
      top: 0;
      left: 470px;
      background: none;
      border: none;
      color: #aaa;
      font-size: 20px;
      cursor: pointer;
    }
  }

  .avatar-content {
    flex: 1;
    overflow-y: auto;
    padding: 24px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #3a3a3a;
      border-radius: 4px;
    }
  }

  .avatar-grid {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .avatar-item {
    cursor: pointer;
    text-align: center;

    img {
      width: 100%;
      aspect-ratio: 1 / 1;
      border-radius: 12px;
      object-fit: cover;

      transition: transform 0.2s ease, box-shadow 0.2s ease, outline 0.2s ease;
    }

    &:hover img {
      transform: scale(1.05);
      box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
    }
  }

  .avatar-key {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #ddd;
    text-align: center;
  }
}
