@use "../../App.scss" as l;

.inner-mypageMain {
  padding-top: 110px;
  margin-bottom: 120px;
  margin-top: 40px;


  .avatar-dim {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    /* 수직 중앙 정렬 */
    justify-content: center;
    /* 수평 중앙 정렬 */
    background: rgba(0, 0, 0, 0.75);
    padding: 24px;
  }

  .avatar-modal {
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: l.$grey2;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    overflow: hidden; // 이중 스크롤 방지
  }

  .avatar-wrap {
    width: 952px;
    height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar-header {
      width: 100%;
      align-items: center;
      position: relative;
      margin-bottom: 20px;

      .avatar-create {
        @include l.myTitle20(100);
        color: l.$grey10;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        border: none;
        color: #aaa;
        font-size: 20px;
        cursor: pointer;
        padding: 0;

        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    .avatar-content {
      flex: 1;
      overflow-y: auto;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        width: 6px;
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        background: #3a3a3a;
        border-radius: 4px;
      }

      .avatar-section-title {
        @include l.myTitle16(100);
        color: l.$grey10;
        margin-bottom: 18px;
        display: flex;
      }
    }

    .avatar-grid {
      list-style: none;
      padding: 0;
      margin: 0;

      display: grid;
      grid-template-columns: repeat(4, 220px);
      gap: 24px;
      margin-bottom: 40px;
    }

    .avatar-item {
      cursor: pointer;
      text-align: center;

      img {
        width: 220px;
        height: 250px;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        object-fit: contain;

        transition: transform 0.2s ease, box-shadow 0.2s ease, outline 0.2s ease;
      }

      &:hover img {
        // transform: scale(1.05);
        // box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
        transform: translateY(-10px);
      }
    }

    .avatar-key {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      color: #ddd;
      text-align: center;
    }
  }
}