@use "../../App.scss" as *;

.faq {
  margin-top: 36rem;
  &_title {
    margin-top: 8rem;
    margin-bottom: 3.2rem;
    color: $grey10;
    @include myTitle32($fw: 600, $ta: left);
  }

  /* 가입 이유 카드 */
  &_reasons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.4rem;
  }

  &_card {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 24px;
    border-radius: 8px;
    overflow: hidden;

    background-image: url("/images/card.svg");
    background-size: cover;
    background-position: center;
  }

  &_cardContent {
    position: relative;
    z-index: 1;
    margin-top: 12rem;
  }

  &_cardTitle {
    @include myTitle20($fw: 500, $ta: left);
    color: $grey10;
    margin-bottom: 2rem;
  }

  &_cardDesc {
    font-size: 1.6rem;
    line-height: 1.5;
    color: $grey8;
  }

  &_cardIcon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    z-index: 1;
  }

  /* FAQ */
  &_list {
    margin-top: 3.2rem;
  }

  &_item {
    background: #2a2a2a;
    margin-bottom: 1.2rem;
    overflow: hidden;
  }

  &_question {
    width: 100%;
    padding: 2rem 2rem;
    background: none;
    border: none;
    color: $grey10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
 

    span {
      @include myTitle20($fw: 500, $ta: left);
    }
  }

  &_icon {
    width: 3.6rem;
    height: 3.6rem;
  }

  &_answer {
    max-height: 0;

    p {
      padding: 2.4rem 2rem;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.4;
      color: $grey8;
      // 공백 1개만 있어도 자동줄바꿈
      white-space: pre-line;  
    }
  }

  &_item.is-open {
    .faq_answer {
      max-height: 180px;
    }
  }
}
