@use '../../App.scss' as color;

.filter-wrap {
  position: absolute;
  right: 12.5%;
  top: 80rem;
  width: 12.5%;
  height: 4rem;
  // border: 1px solid yellow;
  > button {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: color.$grey3;
    border: none;
    border-radius: 0.8rem;
  }
}
