@use "../../App.scss" as *;

.hero-section{
overflow-x: visible;
}

.hero_bg {
  width: 1920px;
  height: 1363px;
  margin: 0 auto;

  position: relative; // ⬅️ 내부 absolute 요소 기준
  background-image: url("/images/land_banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  .hero_copy {
    position: absolute;
    top: 36rem;
    left: 26rem;
    @include myTitle32($fw: 600, $ta: left);
    color: $grey10;

    .hero_copy2 {
      padding: 0 90px;
    }
  }

  .Nstar_btn a {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 244px;
    height: 44px;
    background: $main1;
    border-radius: 0.4rem;

    @include myTitle20($fw: 400, $ta: center);
    color: $grey10;

    position: absolute;
    bottom: 48rem;
    left: 84rem;
  }
}

.hero_banner {
  // 아래로 내리기
  top: -10rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  background: #2E2E2E;
  padding: 1.6rem 3.2rem;
  border-radius: 8px;

  position: relative;
  z-index: 1;
  margin: -100px auto 0;

  .hero_banner-left {
    display: flex;
    align-items: center;

    .popcon_ex {
      padding: 0 2.8rem;

      strong {
        @include myTitle24($ta: left);
        color: $grey10;
      }

      p {
        @include myTitle20($fw: 500, $ta: left);
        color: $grey10;
      }
    }
  }
}