@use "../../App.scss" as *;

/* HERO*/
.hero {
  position: relative; 
  width: 100%;
  // min-height: 80vh;
    min-height: 100vh;

  display: flex;
  justify-content: center;
    
  // overflow: visible; 
    overflow: hidden;
}

/* HERO INNER*/
.hero_inner {
  position: relative;
  z-index: 1;             // 큰 로고보다 위

  display: flex;
  flex-direction: column;
  align-items: center;
    margin-top: 10rem;
}

/*  상단 작은 NETFLIX 로고 */
.Netflix_logo {
  width: 100%;
  max-width: 697px; 
}

/* 문구 + 버튼 영역*/
.hero_N_star {
  margin-top: 8rem;  

  display: flex;
  flex-direction: column;
  align-items: center;  

  .hero_desc {
    @include myTitle24($fw: 500);
    color: $grey10;
    text-align: center;  
  }

  .N_star_btn {
    margin-top: 2.4rem;


    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;

      width: 244px;
      height: 44px;

      background: $main1;
      border-radius: 0.4rem;

      @include myTitle20($fw: 400, $ta: center);
      color: $grey10;
      text-decoration: none;
    }
  }
}

/* 하단 큰 NETFLIX 로고*/
.Netflix_logo_Big {
  position: absolute;
  left: 50%;
  // bottom: -30rem;    
  bottom: -20rem;     
  transform: translateX(-50%);
  z-index: 0;
  pointer-events: none;

  img {
    width: 1428px;     
    max-width: 120vw;
    pointer-events: none;
  }
}