@use "../../App.scss" as main;

.submenu-wrap {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0 2rem;
  padding-top: 1rem;
  z-index: 1;
  margin-top: 70px;
}

.submenu-scroll {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: grab;
  user-select: none;

  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: none;
}

.submenu-scroll.is-dragging {
  cursor: grabbing;
}

.submenu-item {
  padding: 0.8rem 1.6rem;
  white-space: nowrap;
  border-radius: 999px;
  color: #fff;
  border: 1px solid main.$grey6;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.4rem;
  cursor: pointer;
}
/* 📌 태블릿 이하에서는 숨김 */
@media (max-width: 1440px) {
  .submenu-wrap {
    display: none;
  }
}

/* 📌 모바일에서도 마찬가지로 숨김 (선택이지만 명확하게 명시) */
@media (max-width: 430px) {
  .submenu-wrap {
    display: none;
  }
}
