@use "../../App.scss" as l;
.inner-join {
  width: 100%;
  height: 872px;
  background: url(/images/login-bg.png) center / cover no-repeat;
  display: flex;
  justify-content: center;

  .join-wrap {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 119.8rem;
    height: 100%;
    max-height: 70rem;
    background-color: rgba(44, 44, 44, 0.5);
    align-items: center;
    justify-content: center;

    .join-content {
      width: 35.8rem;
      height: 53.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        display: none;
      }
      .signtitle-wrap {
        display: flex;
        justify-content: center;
      }
      h3 {
        margin-bottom: 40px;
        @include l.myTitle24();
        color: l.$grey10;
      }

      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        p {
          @include l.myTitle16();
          color: l.$grey10;
          text-align: left;
        }

        .input-wrap {
          background-color: l.$grey10;
          width: 100%;
          height: 4.8rem;
          padding: 12px 24px;
          border-radius: 0.4rem;
          input {
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            outline: none;
          }
        }
        .next-btn {
          height: 4.8rem;
          padding: 12px 0;
          border-radius: 0.4rem;
          background-color: l.$main1;
          @include l.myTitle16();
          color: l.$grey10;
          margin-top: 60px;
          border: none;
        }
        .next-btn:hover {
          background: l.$sub1;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .join-wrap {
    background: none !important;
  }

  .join-content {
    h1 {
      display: block !important;
      margin-bottom: 80px;
      text-align: center;
    }
  }
}
