@use "../../App.scss" as l;

.inner-join {
  width: 100%;
  height: 872px;
  padding-top: 11rem; // 110px
  background: url("/images/login-bg.png") center / cover no-repeat;

  display: flex;
  justify-content: center;
}

.join-wrap {
  width: 119.6rem;
  height: 70rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(44, 44, 44, 0.5);
  border: 1px solid #8a8a8a;
  border-radius: 1.6rem;
}

.join-content {
  width: 35.8rem; // 358px

  display: flex;
  flex-direction: column;
  justify-content: center; // 카드 안에서 중앙
  margin-top: -2rem;

  h1 {
    display: none;
  }

  .signtitle-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.4rem;
    margin-bottom: 4rem;
  }

  .prev-btn {
    cursor: pointer;
    transform: translateY(0.4rem);
  }

  h3 {
    // margin-bottom: 40px;
    @include l.myTitle24();
    color: l.$grey10;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .form-block {
    display: flex;
    flex-direction: column;
  }

  .form-block p {
    @include l.myTitle16($fw: 400, $ta: left);
    color: l.$grey10;
    text-align: left;

    line-height: 16px; //  텍스트 박스 기준
    margin-bottom: 8px; // label → input
  }

  .input-wrap {
    width: 100%;
    height: 4.8rem; // 48px
    padding: 12px 24px;
    background-color: l.$grey10;
    border-radius: 0.4rem;

    /* input → 다음 label 간격 */
    margin-bottom: 1.6rem;

    input {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      outline: none;
    }
  }

  /* 에러 메시지 */
  .error-msg {
    margin-top: 0.8rem;
    font-size: 1.4rem;
    color: l.$main1;
  }

  .next-btn {
    margin-top: 60px; // 이미지 기준
    height: 4.8rem;
    padding: 12px 0;

    border-radius: 0.4rem;
    border: none;
    background-color: l.$sub1;

    @include l.myTitle16();
    color: l.$grey10;
    cursor: pointer;

    &:hover {
      background: l.$main1;
    }
  }
}

@media (max-width: 1366px) {
  .join-wrap {
    background: none;
    border: none;
  }

  .join-content {
    h1 {
      display: block;
      margin-bottom: 80px;
      text-align: center;
    }
  }
}
