@use "../../App.scss" as l;

.inner-login {
  width: 100%;
  height: 872px;
  padding: 11rem 0 12rem;
  background: url("/images/login-bg.png") center / cover no-repeat;

  display: flex;
  justify-content: center;
}

.login-wrap {
  width: 1196px;
  height: 700px;

  display: grid;
  grid-template-columns: 588px 1fr;

  background: rgba(44, 44, 44, 0.5);
  border: 1px solid #8a8a8a;
  border-radius: 16px;
}

.login-left {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 588px;
    height: auto;
    object-fit: contain;
    transform: translateX(1.2rem); // 오른쪽 미세 이동
  }
}

.login-right {
  display: flex;
  justify-content: center;
}

.login-right2 {
  width: 358px;
  margin-top: 115px;
}

.login-right2 h2 {
  @include l.myTitle24();
  color: #fff;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: left;
}

.login-right2 form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-wrap {
  width: 100%;
  height: 48px;
  padding: 12px 24px;

  display: flex;
  align-items: center;
  gap: 12px;

  background: l.$grey10;
  border-radius: 4px;

  img {
    width: 20px;
    height: 20px;
  }

  input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: l.$grey1;
  }
}

.error-msg {
  font-size: 1.4rem;
  color: l.$main1;
}

.login-btn {
  width: 100%;
  height: 48px;

  @include l.myTitle16();
  color: l.$grey10;

  background: l.$sub1;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: l.$main1;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.signup-text {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 12px;

  color: l.$grey8;
  font-size: 1.6rem;

  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.social-login {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.google-btn,
.kakao-btn {
  width: 100%;
  height: 48px;
  padding: 0 24px;

  display: flex;
  justify-content: center; // 버튼 기준 중앙
  align-items: center;

  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* 아이콘 + 텍스트 묶음 */
.social-inner {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  img {
    width: 2.4rem;
    height: 2.4rem;
  }

  p {
    @include l.myTitle16();
    color: #8a8a8a;
    white-space: nowrap;
    transition: color 0.3s;
  }
}

.google-btn {
  background: l.$grey10;
}

.kakao-btn {
  background: #f9e000;
}

/* hover 시 텍스트만 변경 */
.google-btn:hover p,
.kakao-btn:hover p {
  color: l.$grey1;
}

/* RESPONSIVE */
@media (max-width: 1366px) {
  .login-wrap {
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    background: none;
    border: none;
  }

  .login-left {
    display: none;
  }

  .login-right2 {
    margin-top: 0;
  }
}
