@use "../../App.scss" as l;

.inner-login {
  width: 100%;
  height: 872px;
  background: url("/images/login-bg.png") center/cover no-repeat;

  display: flex;
  justify-content: center;
  // align-items: center;

  .login-wrap {
    margin-top: 40px;
    display: flex;
    width: 100%;
    max-width: 119.8rem;
    height: 100%;
    max-height: 70rem;
    background-color: rgba(44, 44, 44, 0.5);
    // align-items: center;
    justify-content: center;

    .login-left,
    .login-right {
      flex: 1;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        display: none;
      }
    }

    .login-left img {
      max-width: 58.8rem;
      max-height: 67.6rem;
      object-fit: contain;
    }

    .login-right {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
      // border: 1px solid #fff;

      .login-right2 {
        width: 35.8rem;
        height: 38.8rem;
      }

      h2 {
        width: 100%;
        @include l.myTitle24();
        text-align: left;
        font-weight: 600;
        margin-bottom: 2rem;
        color: #fff;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .input-wrap {
          width: 100%;
          height: 4.8rem;
          background-color: l.$grey10;
          padding: 12px 24px;
          border-radius: 0.4rem;
          display: flex;
          gap: 12px;
        }

        input {
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
        }

        .login-btn {
          @include l.myTitle16();
          background-color: l.$sub1;
          color: l.$grey10;
          width: 100%;
          height: 4.8rem;
          border-radius: 0.4rem;
          border: none;
          cursor: pointer;
          transition: 0.3s;
        }
        .login-btn:hover {
          background: l.$main1;
        }
      }

      .signup-text {
        padding: 20px 0 20px 0;
        color: l.$grey8;
        display: flex;
        justify-content: center;
        gap: 12px;
        span {
          cursor: pointer;
          text-decoration: underline;
        }
      }

      .social-login {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        .google-btn {
          @include l.myTitle16();
          width: 100%;
          padding: 12px 24px;
          border-radius: 0.4rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #8a8a8a;
          background-color: l.$grey10;
          border: none;
          -webkit-appearance: none;
          appearance: none;
          box-shadow: none;

          p {
            @include l.myTitle16();
            color: #8a8a8a;
          }
        }

        .kakao-btn {
          @include l.myTitle16();
          width: 100%;
          padding: 12px 24px;
          border-radius: 0.4rem;
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #8a8a8a;
          background-color: #f9e000;
          border: none;
          -webkit-appearance: none;
          appearance: none;
          box-shadow: none;

          p {
            @include l.myTitle16();
            color: #8a8a8a;
          }
        }

        .google-btn:hover p,
        .kakao-btn:hover p {
          color: l.$grey1;
        }

        p {
          @include l.myTitle16();
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .inner-login .login-wrap .login-left {
    display: none !important;
  }

  .inner-login .login-wrap {
    background: none;
  }

  .join-content {
    h1 {
      display: block !important;
      margin-bottom: 80px;
    }
  }
}
