.movieTopWrap {
  margin-top: 4rem;

  p {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.6rem;
  }

  .movieTopList {
    display: flex;
    gap: 2.4rem;
    overflow-x: auto;

    .movieItem {
      position: relative;
      flex: 0 0 auto;
      width: 22rem;
      img {
        aspect-ratio: 11/16;
        border-radius: 0.8rem;
      }
    }
  }
}
