.playWrap {
  margin-top: 4rem;
  > p {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 1.6rem;
  }
  .Nowplay {
    display: flex;
    gap: 2.4rem;

    overflow-x: auto; // 가로 스크롤 허용
    overflow-y: hidden;
    padding-bottom: 1rem;

    // 스크롤바 숨기
    &::-webkit-scrollbar {
      display: none;
    }

    li {
      flex: 0 0 auto; // 절대 줄어들지 말고, width 그대로 유지
      width: 22rem;
      aspect-ratio: 220 / 320;

      transform-origin: center bottom;
      transition: transform 0.25s ease, box-shadow 0.25s ease;
      &:hover {
        transform: translateY(-0.4rem) scale(1.03);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // 위아래 잘라서 꽉 채우기
        display: block;
        border-radius: 0.8rem;
      }
    }
  }
}
