@use '../../App.scss' as BG;

.OriginalWrap {
  margin-top: 4rem;
  background-color: BG.$BG;

  .original {
    display: flex;
    margin-top: 1.6rem;
    overflow-x: auto; // 🔥 가로 스크롤 허용
    overflow-y: hidden;

    gap: 2.4rem;
    li {
      height: 66rem;
      aspect-ratio: 17/33;
    }
  }
}
