@use '../../App.scss' as *;

.payment-wrapper {
  font-family: "SUIT", sans-serif;
  padding: 0;
  font-size: 0.875;


  .payment-page {
    min-height: 100vh;
    background-color: $BG;
    position: relative;
  }

  /* *배경* */
  .payment-bg {
    position: fixed;
    inset: 0;
    background: url("/images/payment/Login_bg.png") no-repeat center / cover;
    z-index: 0;
  }

  /* *중앙 카드* */
  .payment-container {
    z-index: 1;
    width: 100%;
    max-width: 119.6rem;
    margin: 0 auto;
    padding: 5rem;
    background: rgba(44, 44, 44, 0.50);
    border-radius: 1.6rem;
    backdrop-filter: blur(15px);
    border: 1px solid #8A8A8A;
  }



  /* header */
  .payment-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    height: 56px;
    margin-bottom: 15px;
  }

  .payment-title {
    grid-column: 2;
    justify-self: center;
    @include myTitle24(500);
    color: $grey10;
    white-space: nowrap;
  }

  .pay-back-btn {
    grid-column: 1;
    justify-self: end;
    margin-right: 84px;

    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .payment-info {
    @include myTitle16(200, center);
    color: $grey8;
    margin-bottom: 2.4rem;
  }





  /* payment-content */
  .payment-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    max-width: 708px;
    margin: 0 auto;
  }

  .payment-methods,
  .payment-membership,
  .payment-agreement {
    display: flex;
    flex-direction: column;
  }

  .payment-methods,
  .membership-summary {
    width: 100%;
    max-width: 100%;
  }



  /* payment-methods */
  .payment-methods {
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 708px;
    overflow: hidden;

    .pay-section-title {
      @include myTitle16(100, left);
      color: $grey10;
      margin-bottom: 1.2rem;

    }
  }

  /* Swiper 계산용 */
  .payment-slide {
    width: 200px;
    height: 120px;
    flex-shrink: 0;
  }

  /* 카드 하나 */
  .payment-method {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid #d2d2d2;
    background: rgba(202, 202, 202, 0.30);
  }

  .payment-method:hover {
    border-radius: 8px;
    border: 1px solid #D2D2D2;
    background: rgba(191, 191, 191, 0.80);
  }

  .payment-method.active {
    border-radius: 8px;
    border: 1px solid #D2D2D2;
    background: #D2D2D2;
  }

  .payment-swiper {
    padding-bottom: 4px;
    width: 100%;
    overflow: visible;
    flex-shrink: 0;
    padding-right: 20px;
    box-sizing: border-box;

    .swiper-scrollbar {
      display: none;
    }

    .swiper-wrapper {
      width: auto;
    }
  }





  /* membership */
  .pay-section-title {
    @include myTitle16(100, left);
    color: $grey10;
    margin-bottom: 1.2rem;
  }

  .membership-summary {
    background-color: $grey3;
    border-radius: 0.8rem;
    padding: 0.8rem 1.6rem;
    @include myFlex(1rem);
    width: 100%;
    max-width: 708px;
    min-width: 0;

    .membership-info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;


      .membership-price {
        @include myTitle16(400, left);
        color: $grey10;
      }

      .membership-name {
        @include myTitle14(400, left);
        font-weight: 400;
        color: $grey7;
      }
    }

    .membership-change-btn {
      background: none;
      border: none;
      color: $grey8;
      cursor: pointer;
      @include myTitle14(400);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }






  /* agreement */
  .payment-agreement {
    margin-bottom: 6rem;

    .agreement-item {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      margin-bottom: 0.8rem;
      cursor: pointer;
      position: relative;

      /* 실제 체크박스 (숨김) */
      .agreement-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
      }

      /* 보이는 체크박스 */
      .custom-checkbox {
        width: 20px;
        height: 20px;
        border: 1px solid $grey6;
        border-radius: 4px;
        background-color: #ffffff;
        flex-shrink: 0;
        position: relative;
      }

      /* 체크됐을 때 배경 */
      .agreement-checkbox:checked+.custom-checkbox {
        background-color: $grey10;
        border-color: $grey8;
      }

      .agreement-text {
        @include myTitle16(400, left);
        color: $grey10;
      }

      .agreement-checkbox:checked+.custom-checkbox::after {
        content: "";
        position: absolute;
        top: 3px;
        left: 6px;
        width: 5px;
        height: 8px;
        border: solid #000000;
        border-width: 0 1.8px 1.8px 0;
        transform: rotate(45deg);
      }
    }
  }





  /* Submit Button */
  .payment-submit {
    display: flex;
    justify-content: center;
    display: block;
    margin: 0 auto;
    width: 35.8rem;
    padding: 12px 0px;
    border-radius: 0.4rem;
    background-color: $sub1;
    color: $grey10;
    border: none;
    cursor: pointer;
    @include myTitle16(300);
  }





  // /* Popup */

  .membership-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  .membership-popup-content {
    width: 100%;
    max-width: 406px;
    background: #1c1c1c;
    border-radius: 8px;
    padding: 24px;
    gap: 40px;
  }

  /* 헤더 */
  .popup-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    .popup-title {
      font-size: 20px;
      font-weight: 400;
      color: #fff;
    }

    .popup-close-btn {
      position: absolute;
      right: 16px;
      background: none;
      border: none;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }
  }

  /* 섹션 타이틀 */
  .popup-section {
    margin-bottom: 40px;
  }

  .popup-section-title {
    font-size: 16px;
    color: #d2d2d2;
    margin-bottom: 8px;
  }

  /* 멤버십 리스트 */
  .membership-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }


  .membership-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    background: #3a3a3a;
    border-radius: 4px;
    cursor: pointer;
    position: relative;


    .membership-name {
      font-size: 16px;
      color: $grey10;
    }


    &::after {
      content: "✓";
      color: #fff;
      font-size: 23px;
      opacity: 0;
    }

    &.active {
      background: #5a5a5a;

      &::after {
        opacity: 1;
      }
    }
  }




  /* 멤버십 자세히 보기 */
  .popup-link-area {
    margin-top: 12px;
    text-align: right;


    .membership-detail-link {
      font-size: 13px;
      color: #d2d2d2;
      text-decoration: underline;
    }
  }

  /* 하단 선택 버튼 */
  .popup-confirm-btn {
    width: 100%;
    margin-top: 16px;
    padding: 12px 0;
    border-radius: 4px;
    background: #e50914;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }






  @media (max-width: 1440px) {
    & {
      padding: 0 16px;
    }
  }


  @media (max-width: 1000px) {
    .payment-container {
      padding: 3rem 2rem;
    }
  }


  @media (max-width: 430px) {
    & {
      font-size: 0.875;
    }

    .payment-info {
      font-size: 14px;
    }

    .payment-container {
      padding: 2rem 1.6rem;
      border-radius: 1.2rem;
    }

    .payment-content {
      max-width: 708px;
      margin: 0 auto;
    }

    .payment-swiper {
      padding-right: 16px;
    }

    .payment-methods {
      margin-bottom: 0;
    }

    .payment-methods,
    .membership-summary {
      max-width: 708px;
    }

    .payment-submit {
      width: 100%;
      max-width: 35.8rem;
    }

    .agreement-text {
      font-size: 14px;
    }

    .payment-agreement .agreement-item .agreement-text {
      font-size: 14px;
    }

  }

  @media (max-width: 24.375rem) {
    .payment-slide {
      width: 7rem;
      height: 4rem;
    }
  }
}