@use "../../App.scss" as l;

/* ================= 공통 ================= */

.inner-mypageMain {
  padding-top: 110px;
  margin-bottom: 120px;
  margin-top: 40px;

  .modal-dim {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal {
    width: 1000px;
    height: 700px;
    background: #1c1c1c;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
  }

  .modal-body {
    padding: 24px;
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  /* ================= 헤더 ================= */

  .modal-header {
    position: relative;
    text-align: center;
    padding-bottom: 32px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      @include l.myTitle20(200);
      color: l.$grey10;
    }

    .modal-close {
      position: absolute;
      top: 0;
      right: 0px;
      background: none;
      border: none;
      color: #fff;
      font-size: 22px;
      cursor: pointer;

      img {
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
    }
  }

  /* ================= 전체 래퍼 ================= */
  .modal-wrap {
    height: 100%;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Chrome / Safari */
  .modal-wrap::-webkit-scrollbar {
    display: none;
  }

  /* ================= 아바타 ================= */

  .avatar-preview {
    position: relative;
    margin-bottom: 20px;

    img {
      // width: 170px;
      height: 170px;
      border-radius: 8px;
      object-fit: fill;
      display: block;
    }

    .change-btn {
      position: absolute;
      right: 0px;
      bottom: 0px;

      display: inline-flex;
      align-items: center;
      gap: 8px;

      padding: 4px 8px;
      border-radius: 8px 0;
      border: none;

      background: rgba(255, 255, 255, 0.6);
      color: #111;
      font-size: 13px;
      font-weight: 500;

      cursor: pointer;

      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      transition: transform 0.15s ease, box-shadow 0.15s ease;

      img {
        width: 24px;
        height: 24px;
      }

      .change-name {
        @include l.myTitle16(400);
        color: l.$BG;
      }
    }
  }

  /* ================= 입력 영역 ================= */

  .field {
    width: 360px;
  }

  /* 프로필 이름 */
  .profile-name {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 32px;

    span {
      @include l.myTitle16(10);
      color: l.$grey10;
      text-align: left;
    }

    input {
      height: 44px;
      border-radius: 4px;
      border: none;
      padding: 0 12px;
      font-size: 14px;
      outline: none;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  /* ================= 토글 공통 ================= */

  .toggle-group {
    display: flex;
    flex-direction: column;
    // gap: 12px;
  }

  .toggle-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    label {
      @include l.myTitle16(10);
      color: l.$grey10;
      text-align: left;
    }
  }

  .rating-mark {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;

    transition: max-height 0.35s ease, opacity 0.25s ease, transform 0.35s ease;

    p {
      @include l.myTitle14(10);
    }
  }

  .rating-mark.open {
    max-height: 80px; // 충분히 큰 값
    opacity: 1;
    transform: translateY(0);
  }

  .toggle-btn {
    width: 51px;
    height: 31px;
    border-radius: 999px;
    border: none;
    background: #555;
    position: relative;
    cursor: pointer;

    &.on {
      background: #e50914;
    }

    .toggle-knob {
      position: absolute;
      top: 2px;
      left: 2px;
      width: 27px;
      height: 27px;
      background: #fff;
      border-radius: 50%;
      transition: transform 0.2s ease;
    }

    &.on .toggle-knob {
      transform: translateX(20px);
    }
  }

  /* ================= 시청 제한 ================= */

  .age-wrap {
    margin-top: 12px;
    max-height: 0;
    opacity: 0;
    // transform: translateY(-12px);
    // transition:
    //   max-height 0.4s ease,
    //   opacity 0.3s ease,
    //   transform 0.4s ease;

    pointer-events: none;
    position: relative;
  }

  /* 실제 내용 */
  .age-inner {
    display: flex;
    align-items: center;
    gap: 12px;
    // justify-content: start;
    position: absolute;
    top: -238px;
    left: -90px;
  }

  .age-wrap.open {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .rating-mark.open {
    margin-bottom: 240px;
    margin-top: 12px;
  }

  /* 등급 텍스트 */
  .age-slider {
    -webkit-appearance: none;
    appearance: none;

    width: 232px;
    height: 10px;
    border-radius: 40px;

    background: linear-gradient(
      to left,
      // ← 이게 핵심
      #555 0%,
      #555 var(--percent),
      #e50914 var(--percent),
      #e50914 100%
    );
    transform: rotate(90deg);
    transform-origin: center;
  }

  /* 동그란 토글 */
  .age-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 34.2px;
    height: 34.2px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
  }

  /* 라벨 */
  .age-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 232px;
    margin-left: -80px;

    span {
      color: #ccc;

      &.active {
        color: #e50914;
        font-weight: 600;
      }
    }
  }

  /* ================= PIN ================= */

  .pin {
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
      @include l.myTitle16(10);
      color: l.$grey10;
      text-align: left;
      margin-top: 8px;
    }

    input {
      height: 44px;
      border-radius: 4px;
      border: none;
      padding: 0 12px;
      font-size: 14px;
      outline: none;
      // border: none;
    }

    input::placeholder {
      color: #888;
    }
  }

  /* ================= 언어 ================= */

  .language-wrap {
    position: relative;
    margin-top: 32px;
  }

  .language-img {
    margin-top: 9px;
    position: absolute;
    top: 9px;
    right: 0;
    // pointer-events: none;
    z-index: 0;
  }

  .language-method {
    .Voice-subtitles {
      @include l.myTitle16(10);
      color: l.$grey10;
      text-align: left;
      margin-bottom: 4px;
    }
  }

  .language-select {
    position: relative;
  }

  .language-btn {
    width: 100%;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: none;
    color: l.$grey10;
    font-size: 14px;

    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .language-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 260px;
    overflow-y: auto;
    padding: 0 16px;

    li {
      list-style: none;
    }

    button {
      background: none;
      border: none;
      color: #ccc;
      font-size: 15px;
      cursor: pointer;

      &.active {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  /* ================= 버튼 ================= */

  .btn-wrap {
    width: 360px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .btn {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 12px 24px;

    font-size: 15px;
    font-weight: 500;
  }

  .btn.del {
    background: none;
    border: 1px solid l.$grey7;
    color: l.$grey7;
    border-radius: 4px;

    &:hover {
      background-color: l.$grey8;
      color: l.$grey1;
    }
  }

  .btn.create {
    background: l.$sub1;
    color: l.$grey10;
    border: none;
    border-radius: 4px;

    &:hover {
      background: l.$main1;
    }
  }
}
