@use "../../App.scss" as *;

.result_section {
  // margin-bottom: 12rem;
  min-height: 100vh;
  padding: 11rem 60px 12rem;
  background: $grey1;
  color: #fff;
}

/* Header */
.result_header {
  margin-top: 10rem;
  text-align: center;
  margin-bottom: 60px;
}

.result_title {
  @include myTitle24($fw: 600, $ta: center);
  color: $grey10;
  margin-bottom: 1.2rem;
}

.result_sub {
  @include myTitle16($fw: 400, $ta: center);
  color: $grey8;
  margin-bottom: 6rem;
}

/* Grid */
.result_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2.4rem; // 가로 간격
  row-gap: 4rem; // ⭐ 세로 간격
  max-width: 1440px;
  margin: 0 auto;
}

/* Card */
.result_card {
  display: block;
  width: 22rem;
  height: 32rem;
  position: relative;
  border: none;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.result_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.result_card:hover {
  transform: scale(1.08);
  z-index: 5;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

/* Footer */
.result_footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.result_retry {
  max-width: 24rem;
  width: 100%;
  background: $grey10;
  padding: 0.95rem;
  margin-top: 4rem;
  border-radius: 0.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;

  &:hover {
    color: $main1;
    border: 1px solid $main1;
  }

  &:active {
    background-color: $main1;
    color: $grey10;
  }
}

/* Loading */
.result_loading {
  min-height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
  font-size: 1.6rem;
}