.top10Wrap {
  position: relative;
  margin-top: 4rem;

  h2 {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.06rem;
    margin-bottom: 1.6rem;
  }

  .top10List {
    display: flex;
    gap: 8.8rem;
    overflow-x: auto;
    padding: 0 0 0 8rem;
    .top10Item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 0 0 auto; // 가로 스크롤용
      padding-bottom: 1.2rem;

      img {
        position: relative;
        z-index: 3;
        width: 22rem;
        aspect-ratio: 11/16;
        border-radius: 0.6rem;
        box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.6);
        transform-origin: center bottom;
        transition: transform 0.25s ease, box-shadow 0.25s ease;
      }

      .rank {
        position: absolute;
        bottom: 0;
        left: -32%;
        z-index: 2;
        font-family: 'Esamanru';
        font-size: 12rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: -0.32rem;
      }

      &::before {
        content: '';
        position: absolute;
        top: -1.6rem;
        bottom: 0;
        left: 20%;
        right: 20%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.08),
          rgba(255, 255, 255, 0.02)
        );
        opacity: 0.4;
        border-radius: 0.6rem;
        z-index: 0; // 포스터 뒤에
      }
    }
    .top10Item:first-child {
      .rank {
      }
    }
  }
}
