/* src/pages/scss/IntroPage.scss */
.intro-overlay {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  margin: 0 auto;
}
.video-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
}

.intro-video {
  width: 100%;
  object-fit: cover;
}
