@use "../../App.scss" as l;

.detail-page {
  // margin: 40px 0 40px 0;
  padding-top: 110px;

  // margin: 0 auto;
  .detail-inner {
    display: flex;
    max-width: 1440px;
    min-height: 800px;
    // max-height: 100%;
    gap: 24px;
    margin: 0 auto;

    // margin-bottom: 40px;

    .left-side {
      width: 83rem;
      // height: 76.7rem;
      height: auto;
      // display: flex;
      // flex-direction: column;

      iframe {
        width: 83rem;
        height: 41rem;
        border: none;
      }

      .text-box {
        .title-wrap {
          h1 {
            @include l.myTitle32();
            color: l.$grey10;
          }
          display: flex;
          justify-content: space-between;

          button {
            @include l.myTitle16();
            color: l.$grey10;
            width: 24rem;
            height: 4rem;
            background-color: l.$main1;
          }
        }

        .text-content {
          display: flex;
          gap: 12px;
          @include l.myTitle16();
          color: l.$grey10;
          margin-bottom: 20px;
        }
        .text-fads {
          @include l.myTitle16();
          color: l.$grey10;
          text-align: left;
          margin-bottom: 40px;
        }

        .btn-wrap {
          display: flex;
          gap: 12px;
          margin-bottom: 40px;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 14.8rem;
            height: 8rem;
            padding: 8px 16px;
            border-radius: 4px;
            background-color: l.$grey2;
          }
        }
      }
      .more-panel {
        width: 82.8rem;
        display: flex;
        flex-direction: column;
        gap: 16px;
        .creator-box {
          margin-bottom: 40px;
          img {
            width: 115px;
            height: 115px;
            border-radius: 100%;
          }
        }

        .row {
          // display: flex;
          gap: 16px;
          align-items: flex-start;
        }

        .cast-list {
          display: flex;
          gap: 12px;
          flex-wrap: wrap;
          img {
            width: 115px;
            height: 115px;
            border-radius: 100px;
          }
        }

        .cast-item {
          width: 120px;
        }
      }
    }
    .season-box {
      .detail-tabs {
        margin-bottom: 20px;
        display: flex;
        p {
          padding: 12px 24px;
        }
        activeTab {
          text-decoration: underline;
        }
      }
      .season-dropdown {
        .season-trigger {
          width: 97px;
          height: 40px;
          // padding: 16px;
          color: #fff;
          background-color: l.$grey3;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 4px;
        }
        .season-item {
          width: 97px;
          padding: 16px;
          color: #fff;
          background-color: l.$grey3;
          display: flex;
          justify-content: left;
          align-items: center;
          // border-radius: 0 0 4px 4px;
        }
        .season-item:last-child {
          border-radius: 0 0 4px 4px;
        }
        .chev {
          display: flex;
          align-items: center;
        }

        .chev.open {
          transform: rotate(180deg);
        }
      }
      width: 58.8rem;

      .episode-list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        li {
          display: flex;
          gap: 12px;
        }
        .episode-title {
          h3 {
            @include l.myTitle16();
            color: l.$grey10;
            text-align: left;
            margin-bottom: 10px;
          }
        }

        .episode-content {
          position: relative;
          width: 220px;
          flex: 0 0 220px;

          img {
            width: 100%;
            display: block;
          }

          .episode-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 48px;
            height: 48px;
            border-radius: 999px;
            border: 0;
            cursor: pointer;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
          }
        }
      }
    }
  }
}
