@use "../../App.scss" as l;

.storage-inner {
  max-width: 1440px;
  min-height: 700px;
  // height: auto; //
  margin: 0 auto;
  margin-bottom: 120px;
  h2 {
    @include l.myTitle32();
    color: l.$grey10;
    text-align: left;
    margin: 20px 20px 20px 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    li {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }

      img {
        width: 46.4rem;
        height: 28rem;
        display: block;
        object-fit: cover;
      }

      h3 {
        padding: 10px 12px;
        color: l.$grey10;
        @include l.myTitle16();
      }
    }
    .storage-content {
      display: flex;
      justify-content: space-between;
      @include l.myTitle16();
      align-items: center;
      .del-btn {
        text-decoration: underline;
        color: l.$grey8;
        cursor: pointer;
      }
    }
  }
}
