@use "../../App.scss" as l;

.storage-inner {
  max-width: 1440px;
  min-height: 900px;
  height: auto;
  margin: 0 auto;
  padding-top: 110px;
  margin-bottom: 120px;

  .storage-tabs {
    display: flex;

    margin-bottom: 20px;
    p {
      padding: 12px 24px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #fff;
      }
    }
  }

  .count {
    @include l.myTitle16();
    text-align: left;
    margin-bottom: 20px;
  }

  h2 {
    @include l.myTitle32();
    color: l.$grey10;
    text-align: left;
    margin: 20px 20px 20px 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    li {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
      }

      img {
        width: 46.4rem;
        height: 28rem;
        display: block;
        object-fit: cover;
      }

      h3 {
        padding: 10px 12px;
        color: l.$grey10;
        @include l.myTitle16();
      }
    }
    .storage-content {
      display: flex;
      @include l.myTitle16();
      text-align: left;
      align-items: center;
      .del-wrap {
        margin-left: auto;
        .del-btn {
          text-decoration: underline;
          color: l.$grey8;
          cursor: pointer;
        }
      }
    }
  }
}

.list-good {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
  img {
    width: 220px;
    height: 320px;
  }
}

.storage-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0;
}

.storage-filter-wrap {
  position: relative;
  img {
    width: 24px;
    height: 24px;
  }
}

/* 버튼 */
.filter-btn {
  @include l.myTitle16();
  border: none;
  color: l.$grey10;
  padding: 8px 16px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  &:hover {
    background-color: l.$grey3;
  }

  &.active {
    background-color: l.$grey3;
  }
}

/* 드롭다운 */
.storage-filter {
  text-align: left;
  position: absolute;
  top: 100%;
  left: 0;
  width: 98px;
  padding: 8px 0px;
  background: l.$grey3;
  border-radius: 4px;

  z-index: 100;

  li {
    @include l.myTitle16();
    padding: 8px 16px;
    color: l.$grey10;
    text-align: left;
    cursor: pointer;
  }
}
