/* src/components/scss/MovieBanner.scss */
.movie-banner {
  position: relative;
  height: 70rem;
  margin-top: 8rem;

  .movie-bg {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.4rem;
    object-fit: cover;
    display: block;
  }

  .movie-banner-inner {
    position: absolute;
    left: 4.8%;
    bottom: 4.5%;
    width: 34%;

    .movie-bannertxt {
      color: #fff;

      h2 {
        font-size: 3.2rem;
        font-weight: 600;
      }

      h3 {
        margin: 2.4rem 0;
        font-size: 1.6rem;
        line-height: 140%;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .movie-banner-btns {
      display: flex;

      button {
        width: 48%;
        height: 4rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.8rem;

        background: #fff;
        box-sizing: border-box;

       

        .ico {
          position: relative;
          width: 2rem;
          height: 2rem;
          flex: 0 0 2rem;

          img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            pointer-events: none;
          }

          .icon-hover {
            opacity: 0;
          }
        }

        &:hover {
          .icon {
            opacity: 0;
          }
          .icon-hover {
            opacity: 1;
          }
        }
      }

      .play {
        margin-right: 1.2rem;
      }

      .wish {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
