.banner {
  position: relative;
  height: 70rem;
  .banner-bg {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
  }
  .banner-inner {
    position: absolute;
    bottom: 4.5%;
    left: 4.8%;
    // border: 1px solid white;

    .bannertxt {
      color: #fff;
      width: 60%;
      // border: 1px solid yellow;
      > img {
        width: 80%;
      }
      > h2 {
        margin: 2.4rem 0 2.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;
      }
    }
    .banner-btns {
      button {
        width: 17%;
        height: 4rem;
        border: none;
        border-radius: 0.8rem;
        > img {
          margin-right: 1.2rem;
        }
      }
      .play {
        margin-right: 1.2rem;
      }
      .wish {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
