.series-banner {
  position: relative;
  height: 70rem;
  margin-top: 7.8rem;
  .series-bg {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    aspect-ratio: 16/9;
  }
  .series-banner-inner {
    position: absolute;
    bottom: 4.5%;
    left: 4.8%;
    width: 34%;

    // border: 1px solid white;

    .series-bannertxt {
      color: #fff;
      width: 100%;
      // border: 1px solid yellow;
      > img {
        width: 80%;
      }
      > h2 {
        font-size: 3.2rem;
        font-weight: 600;
      }
      > h3 {
        margin: 2.4rem 0 2.4rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.4px;
        /* 4줄 이상이면 ... 처리 */
        display: -webkit-box;
        -webkit-line-clamp: 4; // 최대 4줄
        -webkit-box-orient: vertical;
        overflow: hidden;

        /* 선택사항 (더 안정적인 줄 계산용) */
        max-height: calc(1.6em * 4);
      }
    }
    .series-banner-btns {
      button {
        width: 48%;
        height: 4rem;
        border: none;
        border-radius: 0.8rem;
        > img {
          margin-right: 1.2rem;
        }
      }
      .play {
        margin-right: 1.2rem;
      }
      .wish {
        background: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
