//컬러
$main1: #e50914;
$sub1: #b20710;
$grey1: #000000;
$grey2: #1c1c1c;
$grey3: #3a3a3a;
$grey4: #575757;
$grey5: #717171;
$grey6: #8a8a8a;
$grey7: #a3a3a3;
$grey8: #d2d2d2;
$grey9: #e9e9e9;
$grey10: #ffffff;
$BG: #171718;

// html {
//   scroll-behavior: smooth;
// }

//타이틀
@mixin myTitle32($fw: 500, $ta: center) {
  font-size: 32px;
  font-weight: $fw;
  line-height: 140%;
  text-align: $ta;
  letter-spacing: -0.8px;
}

@mixin myTitle24($fw: 500, $ta: center) {
  font-size: 24px;
  font-weight: $fw;
  line-height: 140%;
  text-align: $ta;
  letter-spacing: -0.6px;
}

@mixin myTitle20($fw: 400, $ta: center) {
  font-size: 20px;
  font-weight: $fw;
  line-height: 140%;
  text-align: $ta;
  letter-spacing: -0.4px;
}

@mixin myTitle16($fw: 400, $ta: center) {
  font-size: 16px;
  font-weight: $fw;
  line-height: 140%;
  text-align: $ta;
  letter-spacing: -0.4px;
}

@mixin myTitle14($fw: 400, $ta: center) {
  font-size: 14px;
  font-weight: $fw;
  line-height: 140%;
  text-align: $ta;
  letter-spacing: -0.35px;
}

//
@mixin myFlex($gap: 10px, $jc: space-between, $ai: center) {
  display: flex;
  gap: $gap;
  justify-content: $jc;
  align-items: $ai;
}
